In [2]:
import pandas as pd

In [ ]:
# !pip install kagglehub     # to download dataset it is needed to run this command

Collecting kagglehub
  Using cached kagglehub-0.2.9-py3-none-any.whl.metadata (21 kB)
Requirement already satisfied: packaging in d:\data science\bangaluru_house_price_project\venv\lib\site-packages (from kagglehub) (24.2)
Collecting requests (from kagglehub)
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting tqdm (from kagglehub)
  Using cached tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting charset-normalizer<4,>=2 (from requests->kagglehub)
  Using cached charset_normalizer-3.4.1-cp38-cp38-win_amd64.whl.metadata (36 kB)
Collecting idna<4,>=2.5 (from requests->kagglehub)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests->kagglehub)
  Using cached urllib3-2.2.3-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests->kagglehub)
  Using cached certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: colorama in d:\data science\bangaluru_house_price_project\venv\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Using cached kagglehub-0.2.9-py3-none-any.whl (39 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Using cached certifi-2025.1.31-py3-none-any.whl (166 kB)
Using cached charset_normalizer-3.4.1-cp38-cp38-win_amd64.whl (102 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.2.3-py3-none-any.whl (126 kB)
Installing collected packages: urllib3, tqdm, idna, charset-normalizer, certifi, requests, kagglehub
Successfully installed certifi-2025.1.31 charset-normalizer-3.4.1 idna-3.10 kagglehub-0.2.9 requests-2.32.3 tqdm-4.67.1 urllib3-2.2.3

In [ ]:
# import kagglehub

# Download latest version
# path = kagglehub.dataset_download("zeeshier/t20-cricket-match-score-dataset")

# print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.11)
Downloading from https://www.kaggle.com/api/v1/datasets/download/zeeshier/t20-cricket-match-score-dataset?dataset_version_number=1...

100%|██████████| 16.9k/16.9k [00:00<?, ?B/s]

Extracting model files...
Path to dataset files: C:\Users\khann\.cache\kagglehub\datasets\zeeshier\t20-cricket-match-score-dataset\versions\1

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 
import warnings
warnings.filterwarnings('ignore')

In [4]:
df=pd.read_csv('data/t20_cricket_match_score_prediction.csv')

In [5]:
df.head()

,Match ID,Overs Played,Wickets Lost,Run Rate,Home/Away,Opponent Strength,Pitch Condition,Weather,Predicted Score
0,1,7,1,11.04,Away,3,Bowling,Sunny,82
1,2,20,10,11.87,Home,5,Bowling,Sunny,204
2,3,15,7,6.14,Home,7,Balanced,Sunny,105
3,4,11,8,8.84,Home,9,Batting,Cloudy,121
4,5,8,0,9.56,Home,2,Balanced,Sunny,104

In [6]:
df.columns=df.columns.str.replace(" ","_")

In [7]:
df.columns

Index(['Match_ID', 'Overs_Played', 'Wickets_Lost', 'Run_Rate', 'Home/Away',
       'Opponent_Strength', 'Pitch_Condition', 'Weather', 'Predicted_Score'],
      dtype='object')

In [8]:
df.to_csv('t20_cricket_match_score_prediction_final.csv',index=False)

In [9]:
df.shape

(1500, 9)

In [10]:
df['Overs_Played'].unique()

array([ 7, 20, 15, 11,  8, 19,  4,  3,  2, 12,  6,  1, 17, 10, 16,  5,  9,
       18, 14, 13], dtype=int64)

In [11]:
df['Wickets_Lost'].unique()

array([ 1, 10,  7,  8,  0,  4,  3,  6,  2,  9,  5], dtype=int64)

In [12]:
df['Run_Rate'].unique()

array([11.04, 11.87,  6.14,  8.84,  9.56,  8.69,  6.21,  9.19, 12.51,
        5.71,  5.8 ,  8.55, 14.42, 11.69, 11.79,  8.62, 10.94,  5.1 ,
       11.36, 14.13, 11.13, 13.74, 12.24, 14.02,  5.66, 10.34,  6.42,
        5.12,  9.22,  7.95,  9.86, 10.77,  5.44,  6.23, 10.59,  8.43,
       12.29, 11.52, 13.46, 11.92,  9.3 , 11.73,  7.75,  8.06, 12.89,
        9.46, 12.98, 13.22, 13.58, 14.17,  9.31,  8.19, 10.82,  8.71,
       11.01, 12.06, 11.88,  8.75,  6.67,  6.43, 13.9 ,  8.46,  6.54,
        5.25, 11.46, 11.37,  8.41,  5.72,  9.1 ,  8.11, 11.77, 11.06,
        8.65,  7.18, 14.88,  9.54,  6.41,  5.28, 10.05, 14.64,  5.39,
        5.31,  8.88,  6.6 ,  5.23, 12.56,  9.59,  7.89, 14.  ,  6.16,
       14.56,  8.14, 13.88, 11.03, 13.27, 14.84,  7.88, 14.61,  8.89,
        8.86,  8.4 , 10.41, 10.54, 10.42, 12.62, 13.34,  9.4 ,  8.02,
        7.59,  6.95,  5.58,  8.42,  7.7 , 14.66, 10.58,  8.47, 10.8 ,
        6.39,  9.44, 11.26,  9.89,  9.02, 14.94, 13.8 , 11.23, 10.69,
       11.21,  7.01,  8.95,  9.76, 10.43,  7.28, 14.09, 12.22, 10.33,
       13.7 ,  6.31, 12.91,  6.25, 12.94,  7.76, 13.77, 14.44,  6.49,
        9.63, 14.81,  9.83, 13.64, 10.89,  7.86,  7.03,  8.87, 10.11,
        9.92, 13.66,  9.08, 13.28, 12.65, 10.74,  7.  ,  6.09, 13.54,
        9.39, 13.47, 13.93,  5.62, 13.83,  9.48, 10.1 , 11.27, 14.26,
        5.19,  9.77, 12.23, 11.93,  6.34,  7.99,  8.59, 13.04,  7.79,
        7.11, 14.57,  5.09, 14.98,  5.14, 12.38, 12.4 , 12.53, 12.69,
       11.59, 12.66, 11.14,  5.89,  9.88,  5.78,  9.07,  8.49,  6.11,
       13.08, 14.48, 14.55, 10.23,  8.  ,  5.77, 10.01, 12.95, 12.07,
        5.5 ,  5.73,  9.03,  7.32,  7.81, 13.03, 14.29,  9.05, 14.06,
        8.21,  7.26, 11.4 , 14.79,  8.58, 11.48, 13.89, 10.03,  9.49,
       10.86, 11.25, 11.83,  7.42, 12.14, 13.23, 10.53, 10.2 , 12.75,
        7.71,  9.97,  7.84, 11.3 ,  5.54, 12.49,  8.18,  5.  ,  5.47,
        5.63, 13.39,  5.04,  7.47, 12.41,  8.16,  6.02,  8.6 , 13.43,
        8.13, 13.92,  9.34, 14.1 ,  8.77,  9.94, 11.33, 12.04, 12.13,
       11.66, 12.61, 14.51, 12.03,  7.98,  6.05, 12.82, 11.44,  5.48,
       10.  ,  9.33,  9.58,  7.09,  8.7 ,  5.52, 12.68,  9.17, 13.5 ,
        7.12, 11.57,  9.72,  7.16, 11.78, 11.08,  6.37, 12.39, 11.45,
        6.99,  7.87,  8.68,  6.12, 10.16,  7.68, 13.35,  5.15,  8.79,
        8.37,  6.24,  9.14,  9.93,  9.04, 10.31, 10.95,  9.64, 14.63,
       10.19,  8.12, 12.74, 12.73, 10.21, 14.76,  6.26,  5.17, 12.7 ,
       13.07,  6.2 ,  7.66,  5.18,  7.93, 10.18,  8.48,  8.72,  5.01,
       14.74,  5.24, 13.99, 12.83, 12.8 ,  8.98,  8.03,  9.84, 12.47,
        9.74, 14.58, 14.43, 12.85, 14.91, 10.44,  5.76,  8.66,  7.25,
        6.96, 11.22, 12.81, 10.78,  6.47, 13.11, 11.74,  7.6 ,  8.45,
        7.91,  9.7 , 12.08,  5.08, 11.31, 10.3 , 11.8 ,  9.6 , 10.47,
        6.66, 13.44, 12.93,  6.97, 14.95, 12.12, 10.7 ,  9.37,  6.9 ,
       14.08, 14.6 , 14.77, 12.57,  6.62, 12.18, 11.41, 11.67,  6.63,
       10.65, 12.72,  9.99,  8.57,  7.29, 11.34,  7.22,  8.22, 13.48,
        5.95,  9.29,  5.29,  9.81, 11.62,  6.19, 14.2 , 14.93,  5.45,
        8.92, 12.54, 14.18, 12.88,  7.51, 10.64,  7.4 ,  6.92, 10.06,
        7.21,  5.36,  6.75, 13.67,  7.82, 14.5 , 10.17, 12.59,  8.53,
       13.94, 14.46,  9.98,  7.05, 10.91,  6.86,  8.32, 13.55,  7.07,
        5.69, 14.41, 10.07,  9.09, 13.36, 11.94, 12.71, 11.55,  6.52,
       13.76, 10.39,  9.25,  5.38,  6.28,  5.55, 14.73,  8.04,  7.3 ,
       14.67,  7.24, 11.63, 12.42,  9.23,  8.25, 13.17,  6.82, 14.85,
        8.93, 11.61, 12.09, 10.84, 14.52,  5.42,  7.65, 11.02,  7.97,
        6.03, 10.14, 10.09, 14.33, 11.97,  9.62, 14.21, 11.95, 13.62,
        7.74,  8.36, 13.57, 12.01, 12.27, 10.62, 14.47,  9.96,  8.81,
       12.86, 12.34,  5.11, 14.7 ,  9.38,  7.35, 12.05, 10.46, 13.63,
        6.79, 13.  ,  8.97,  6.32, 13.65,  6.57,  8.1 ,  7.9 , 13.71,
       12.97,  7.5 , 10.72, 13.33, 10.49,  8.07,  8.34, 12.33,  5.68,
       12.84, 11.85,  5.57,  8.74, 11.42, 11.71, 11.32,  9.18,  6.01,
        7.78,  9.32, 14.8 , 14.71,  6.13,  7.64,  7.69, 14.69,  5.92,
       10.99, 11.24, 11.49,  7.67, 14.65, 11.76, 11.1 , 10.98,  6.06,
        6.55, 14.45, 12.37, 10.88, 10.83,  7.53,  9.5 ,  8.99, 13.4 ,
        6.89, 11.72,  5.93, 12.48, 14.15, 11.38,  5.91,  7.48,  7.14,
       11.07,  5.81, 13.38, 13.05, 11.17, 12.43, 10.38, 13.95, 12.87,
        9.28,  9.43, 14.36,  5.64, 13.25,  7.92,  5.22,  8.01,  5.56,
        9.91, 14.27, 12.64,  6.59,  5.7 , 11.64, 13.82, 13.14,  6.1 ,
       10.15, 10.36,  8.54, 13.29,  8.08, 14.14, 14.53,  8.27,  6.94,
       13.59, 11.11,  6.18,  6.65,  5.02, 12.19, 12.32,  6.61,  5.84,
       13.91,  7.45,  8.91,  7.34,  7.2 , 11.16, 10.57,  9.16, 11.96,
       12.02,  6.72,  9.12,  6.15,  6.17,  7.06, 13.96,  7.04, 10.08,
       10.61, 11.28, 11.89, 13.21,  9.85, 12.92,  9.51,  6.83,  9.66,
        5.67, 14.68,  5.74, 14.97,  8.51,  8.73,  5.05, 10.48, 12.67,
       12.52,  6.4 , 11.2 ,  6.7 , 12.5 , 10.97, 11.54, 10.79,  6.56,
       12.16,  7.02,  7.15,  6.88,  8.83, 11.6 , 12.96,  7.72, 14.39,
        6.91,  7.19, 13.15, 12.78,  5.88, 11.99,  5.34, 13.79,  7.43,
        8.23, 13.98, 14.01, 14.96, 13.45,  7.49, 14.99,  7.41,  5.4 ,
        9.11,  6.3 , 10.66, 13.37, 10.63, 10.87, 10.81,  9.42, 14.28,
       10.28, 11.5 , 12.15, 10.93,  5.53,  9.55, 11.75, 11.91, 11.68,
       12.79, 12.  , 10.73,  7.77,  5.32,  5.85, 13.81, 13.86,  5.3 ,
       13.97,  9.65,  8.35, 14.75, 13.53, 14.38,  9.69,  8.26,  7.33,
        7.56, 13.09,  5.83,  6.44,  5.82, 12.25, 12.77, 14.89,  8.61,
       13.6 ,  8.28, 10.68,  9.9 , 10.71,  6.85, 13.26,  8.67,  5.87,
        7.63,  5.94,  7.08,  7.38,  9.68,  9.87, 15.  ,  6.71, 11.15,
       14.11,  5.35, 10.51,  7.37,  6.73,  8.8 , 13.01, 10.25, 13.85,
       14.9 ,  5.79,  7.61, 14.35,  6.5 ,  9.47, 10.02,  9.71, 14.04,
        5.07, 13.31, 12.35, 10.96,  6.64,  8.44, 14.32, 10.67,  9.  ,
        6.04, 10.32,  7.96, 13.19,  7.27, 13.24,  8.63, 13.06,  9.67,
        9.82, 13.41])

In [13]:
df['Home/Away'].unique()

array(['Away', 'Home'], dtype=object)

In [14]:
df['Opponent_Strength'].unique()

array([ 3,  5,  7,  9,  2,  4,  1, 10,  6,  8], dtype=int64)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Match_ID           1500 non-null   int64
 1   Overs_Played       1500 non-null   int64
 2   Wickets_Lost       1500 non-null   int64
 3   Run_Rate           1500 non-null   float64
 4   Home/Away          1500 non-null   object
 5   Opponent_Strength  1500 non-null   int64
 6   Pitch_Condition    1500 non-null   object
 7   Weather            1500 non-null   object
 8   Predicted_Score    1500 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 105.6+ KB

In [16]:
df['Pitch_Condition'].unique()

array(['Bowling', 'Balanced', 'Batting'], dtype=object)

In [17]:
df['Weather'].unique()

array(['Sunny', 'Cloudy', 'Overcast'], dtype=object)

In [18]:
df['Predicted_Score'].unique()

array([ 82, 204, 105, 121, 104,  55, 125,  92, 159,  31,  44,  37,  48,
       133,  80,  43,  18,  85, 158, 218, 115, 212, 209, 132, 232,  65,
       172,  34,  45, 207,  73,  69, 106, 130,  42, 131, 182, 340, 234,
        72,  38, 279,  70, 301, 108,  39,  36,  93,  91,  61, 190, 150,
        35,  60, 201, 164,  54,  74, 193,  88, 140, 188,  83, 138, 179,
       134,  66,  76, 281,  67,  21,  20,  32,  58, 128, 151, 152,  23,
        28,  64,  46,  52, 107, 169,  50,  15, 102, 114,  96, 119,  81,
        75, 141, 112, 194,  71, 167, 117, 222, 174,  77, 168,  27, 101,
        79, 356,  29, 110, 220,  24, 248,  78, 186, 149, 233, 236, 254,
       250,  25,  22,  14, 285, 176,  56,  98, 211,  49, 272,  59,  86,
        87, 181, 278, 309, 227,  84, 288,  57, 241,  53,  33, 185,  12,
       200, 165,  51,  97, 192,  16, 217, 214, 142, 267, 144,  41, 229,
       197, 154, 100,  90,  26, 126, 202, 178, 170, 146,  68,  30, 252,
        62, 175, 230, 171, 137,  19, 111, 205, 173, 161, 180, 156, 203,
       109, 269, 148, 157, 118, 210, 304, 120,  17, 196, 143, 189,  47,
       326, 258, 195, 264, 300, 113, 160, 136, 259,  40, 123, 155,  63,
       225, 302, 294, 199,  89, 139, 127, 257, 183, 153, 338, 286,  94,
       145,  99, 245, 187, 103, 124, 184, 228, 346, 363, 129, 262, 122,
       216, 290, 312, 135, 282, 226, 298,  10, 235, 249, 317,  95, 295,
       260, 116, 208, 275, 166, 266, 147, 163, 198, 287, 314, 273,  11,
       223, 247, 246, 293,   6,  13, 219, 238, 324, 162, 242, 371, 243,
       362,   8, 177, 253, 382, 284, 237, 224, 221, 206, 335, 274, 251,
       323, 280, 332, 215, 379, 320, 261, 231, 307, 191, 239, 303],
      dtype=int64)

In [19]:
df['Predicted_Score'].max()

382

In [20]:
df.isnull().sum()

Match_ID             0
Overs_Played         0
Wickets_Lost         0
Run_Rate             0
Home/Away            0
Opponent_Strength    0
Pitch_Condition      0
Weather              0
Predicted_Score      0
dtype: int64

In [21]:
numeric_features= [feature for feature in df.columns if df[feature].dtype != "object"]
categorical_features= [feature for feature in df.columns if df[feature].dtype == "object"]

print('we have {} numerical features : {}'.format(len(numeric_features), numeric_features))
print('\nwe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

we have 6 numerical features : ['Match_ID', 'Overs_Played', 'Wickets_Lost', 'Run_Rate', 'Opponent_Strength', 'Predicted_Score']

we have 3 categorical features : ['Home/Away', 'Pitch_Condition', 'Weather']

In [22]:
# Basic Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [23]:
X = df.drop(columns=['Predicted_Score'],axis=1)

In [24]:
y=df['Predicted_Score']

In [25]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [26]:
X = preprocessor.fit_transform(X)

In [27]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((1200, 13), (300, 13))

In [28]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [29]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 21.0507
- Mean Absolute Error: 15.2960
- R2 Score: 0.9145
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 21.2130
- Mean Absolute Error: 16.0133
- R2 Score: 0.9117
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 21.4048
- Mean Absolute Error: 15.4553
- R2 Score: 0.9116
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 21.1769
- Mean Absolute Error: 16.0393
- R2 Score: 0.9120
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 21.0087
- Mean Absolute Error: 15.2606
- R2 Score: 0.9148
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 21.0081
- Mean Absolute Error: 15.8872
- R2 Score: 0.9134
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 18.5415
- Mean Absolute Error: 14.3748
- R2 Score: 0.9336
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 22.5659
- Mean Absolute Error: 17.3053
- R2 Score: 0.9001
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 15.0425
- Mean Absolute Error: 11.5167
- R2 Score: 0.9556
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 3.7157
- Mean Absolute Error: 2.6984
- R2 Score: 0.9973
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 9.3696
- Mean Absolute Error: 7.1165
- R2 Score: 0.9828
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 0.4517
- Mean Absolute Error: 0.3175
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.3404
- Mean Absolute Error: 5.4102
- R2 Score: 0.9894
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 0.5399
- Mean Absolute Error: 0.4280
- R2 Score: 0.9999
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 1.8624
- Mean Absolute Error: 1.3311
- R2 Score: 0.9993
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 18.8167
- Mean Absolute Error: 15.6553
- R2 Score: 0.9317
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 21.4771
- Mean Absolute Error: 17.5598
- R2 Score: 0.9095
===================================

In [30]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
7    CatBoosting Regressor  0.999319
6             XGBRegressor  0.989424
5  Random Forest Regressor  0.982769
4            Decision Tree  0.955587
2                    Ridge  0.913375
1                    Lasso  0.911977
0        Linear Regression  0.911676
8       AdaBoost Regressor  0.909464
3    K-Neighbors Regressor  0.900052